@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  font-family: "Manrope", sans-serif;
  overscroll-behavior: none;
  background-color: black;
}

#root {
  // display: grid;
}

.on-top {
  position: absolute !important;
  inset: 0;
  height: 100%;
  top: 0;
  z-index: 3;
}

.bottom {
  z-index: 1;
}

.titleWrapper {
  // overflow: hidden;
  position: absolute;
  z-index: 2;
}
h1 {
  position: absolute;
  pointer-events: none;
  z-index: 4;
  top: 0;
  margin: 2rem;
  color: #84675e;
  font-size: 12rem;
  line-height: 80%;
  mix-blend-mode: difference;
  place-self: center;
  &[data-entrance="true"] {
    place-self: auto;
  }
}

main {
  color: white;
  padding: 2rem;
  pointer-events: none;

  .titleWrapper {
    overflow: hidden;
  }

  h1 {
    margin: 0;
    font-size: 8rem;
    line-height: 80%;
    mix-blend-mode: hue;
  }

  .scroll {
    writing-mode: vertical-lr;
    position: absolute;
    bottom: 2rem;
  }
}
